@model TMS.Models.VehicleInfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>VehicleInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <input asp-for="VehicleId" class="form-control" />
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control ip-capacity" onkeyup="validate()" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailSeats" class="control-label"></label>
                <input asp-for="AvailSeats" class="form-control ip-availseats" onkeyup="validate()" />
                <span asp-validation-for="AvailSeats" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Isoperable" /> @Html.DisplayNameFor(model => model.Isoperable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RouteId" class="control-label"></label>
                <select asp-for="RouteId" class ="form-control" asp-items="ViewBag.RouteId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () { validate(); });
        function validate(){
            if ($('.ip-capacity').val() < $('.ip-availseats').val())
            {
                alert("AvailSeats must be less than or equal to capacity");
            }
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
