@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4" style="font-size:40px;font-family:Comic Sans MS;margin-top:40px">WELCOME TO <span style="color:crimson">TMS</span></h1>
    <img id="flight" src="~/images/bck3.png" />
  @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
